n8n/data/workflows/A1Q25Hu6dlqdPePM.json
{"createdAt":"2025-09-22T16:43:40.801Z","updatedAt":"2025-09-22T16:54:22.884Z","id":"A1Q25Hu6dlqdPePM","name":"AI Agent Streaming Template","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"4dd6b459-552b-41da-8865-c8b60e4022ed","responseMode":"streaming","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-304,-48],"id":"bb247a20-2d56-4752-bb47-337b461e7e6f","name":"Webhook","webhookId":"4dd6b459-552b-41da-8865-c8b60e4022ed"},{"parameters":{"promptType":"define","text":"={{ $json.body.user_message }}","options":{"systemMessage":"You are a helpful assistant","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-96,-48],"id":"fe147e1c-ee1c-40e6-81eb-5192892ca2a8","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,160],"id":"4a5b8f15-d6cc-4fa6-81c7-311ccc04f149","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"tCOGOJ93xhYA7qpo","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.thread_id }}","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-16,144],"id":"601c2043-f1f8-4d66-bff6-f936b0aae371","name":"Simple Memory"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[256,-48],"id":"4406d7f0-fe16-47f5-80b6-e5a0aef6fc3d","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38b8d73c-b57d-4f56-98a5-89a9d29eda92","triggerCount":1,"tags":[]}